<main>

    <h1>Bid & Ask prices of all pairs:</h1>
    <div class=bid>

            {{#each ticker}}
            <span class = "bidAskCoins">
                <span class="bidAskBox">
                <h2>Symbol: {{symbol}}</h2>
                    <br>
                    <p>bid price: {{bidPrice}}</p>
                    <p>bid quantity: {{bidQty}}</p>
                    <br>
                    <p>ask price: {{askPrice}}</p>
                    <p>ask quantity: {{askQty}}</p>
                </span>
            </span>
            {{/each}}

</div>
<button><a href="/welcome"> Home </a></button>
</main>
