<main>

    <h1>Bid & Ask prices of all pairs:</h1>
        <div>
            {{#each ticker}}
            <div class = "coinPrices">
                <h2>Symbol: {{symbol}}</h2>
                    <ul>
                    <li>bid price: {{bidPrice}} | bid quantity: {{bidQty}} | ask price: {{askPrice}} | ask quantity: {{askQty}}</li>
                    </ul>
            </div>
            {{/each}}

                </div>
<button><a href="/welcome"> Home </a></button>
</main>
