<main>

    <h1>Data from the last 24 hrs</h1>


            <div class = "coinPrices">
                <h1>Symbol: {{prevDay.symbol}}</h1>
                <ul>
                <li> priceChange: {{prevDay.priceChange}}</li>
                <li> priceChangePercent: {{prevDay.priceChangePercent}}</li>
                <li> weightedAvgPrice: {{prevDay.weightedAvgPrice}}</li>
                <li> prevClosePrice: {{prevDay.prevClosePrice}}</li>
                <li> lastPrice: {{prevDay.lastPrice}}</li>
                <li> lastQty: {{prevDay.lastQty}}</li>
                <li> bidPrice: {{prevDay.bidPrice}}</li>
                <li> bidQty: {{prevDay.bidQty}}</li>
                <li> askPrice: {{prevDay.askPrice}}</li>
                <li> askQty: {{prevDay.askQty}}</li>
                <li> openPrice: {{prevDay.openPrice}}</li>
                <li> highPrice: {{prevDay.highPrice}}</li>
                <li> lowPrice: {{prevDay.lowPrice}}</li>
                <li> volume: {{prevDay.volume}}</li>
                <li> quoteVolume: {{prevDay.quoteVolume}}</li>
                </ul>
            </div>


<button><a href="/welcome"> Home </a></button>
</main>
