<main>

            <div class = "coinPrices">
                <h1>Data from the last 24 hrs from {{prevDay.symbol}}</h1>
                <br>
                <div class='mainCoins'>
                <span class = "bidAskCoins">
                    <span class="bidAskBox">
                <h2> Price Change:</h2> <p>{{prevDay.priceChange}}</p>
                <h2> Price Change (%):</h2> <p>{{prevDay.priceChangePercent}}</p>
                <h2> Weighted Average Price:</h2> <p>{{prevDay.weightedAvgPrice}}</p>
            </span>
            </span>

                <span class = "bidAskCoins">
                    <span class="bidAskBox">
                <h2> Prev Close Price:</h2> <p>{{prevDay.prevClosePrice}}</p>
                <h2> Last Price:</h2> <p>{{prevDay.lastPrice}}</p>
                <h2> Last Quantity:</h2> <p>{{prevDay.lastQty}}</p>
            </span>
            </span>

            <span class = "bidAskCoins">
                <span class="bidAskBox">
            <h2> Volume:</h2> <p>{{prevDay.volume}}</p>
            <h2> Quote Volume:</h2> <p>{{prevDay.quoteVolume}}</p>
        </span>
        </span>

                <span class = "bidAskCoins">
                    <span class="bidAskBox">
                <h2> Bid Price:</h2> <p>{{prevDay.bidPrice}}</p>
                <h2> Bid Qty:</h2> <p>{{prevDay.bidQty}}</p>
            </span>
            </span>

                <span class = "bidAskCoins">
                    <span class="bidAskBox">
                <h2> Ask Price:</h2> <p>{{prevDay.askPrice}}</p>
                <h2> Ask Qty:</h2> <p>{{prevDay.askQty}}</p>
            </span>
            </span>

                <span class = "bidAskCoins">
                    <span class="bidAskBox">
                <h2> Open Price:</h2> <p>{{prevDay.openPrice}}</p>
                <h2> High Price:</h2> <p>{{prevDay.highPrice}}</p>
                <h2> Low Price:</h2> <p>{{prevDay.lowPrice}}</p>
            </span>
            </span>


            </div>
        </div>


<button  class='homeButton'><a href="/welcome"> Home </a></button>
</main>
