<main>

    <h1>Results:</h1>

        <div>
            <h1>Getting latest price symbols expressed in USDT </h1>
            <div class = "mainCoins">

                <span class="mainCoinsBox">
                    <h2> Bitcoin </h2>
                    <p>{{ticker.BTCUSDT}}</p>
                </span>

                    <span class="mainCoinsBox">
                    <h2> Ripple </h2>
                    <p>{{ticker.XRPUSDT}}</p>
                    </span>

                    <span class="mainCoinsBox">
                    <h2> Litecoin </h2>
                    <p>{{ticker.LTCUSDT}}</p>
                    </span>

                    <span class="mainCoinsBox">
                    <h2> Ethereum </h2>
                    <p>{{ticker.ETHUSDT}}</p>
                    </span>

                    <span class="mainCoinsBox">
                    <h2> Neo </h2>
                    <p>{{ticker.NEOUSDT}}</p>
                    </span>

                    <span class="mainCoinsBox">
                    <h2> Monero </h2>
                    <p>{{ticker.XMRUSDT}}</p>
                    </span>

                    <span class="mainCoinsBox">
                    <h2> Iota </h2>
                    <p>{{ticker.IOTAUSDT}}</p>
                    </span>

                    <span class="mainCoinsBox">
                    <h2> Dash </h2>
                    <p>{{ticker.DASHUSDT}}</p>
                    </span>

                    <span class="mainCoinsBox">
                    <h2> Cardano </h2>
                    <p>{{ticker.ADAUSDT}}</p>
                    </span>

                </div>
<button><a href="/welcome"> Home </a></button>
</main>
