<main>

    <h1>Results:</h1>

        <div>
            <h1>Getting latest price symbols expressed in USDT </h1>
            <br>
            <div class = "mainCoins">

                <span class="mainCoinsBox">

                    <img class='coinLogo' src="/Bitcoin_Azul.png">
                    <span class="mainCoinsBoxInfo">
                    <h2> Bitcoin </h2>
                    <p>{{ticker.BTCUSDT}}</p>
                </span>
                </span>

                    <span class="mainCoinsBox">
                        <img class='coinLogo' src="/Ripple_Azul.png">
                        <span class="mainCoinsBoxInfo">
                    <h2> Ripple </h2>
                    <p>{{ticker.XRPUSDT}}</p>
                    </span>
                    </span>

                    <span class="mainCoinsBox">
                        <img class='coinLogo' src="/Litecoin_Azul.png">
                        <span class="mainCoinsBoxInfo">
                    <h2> Litecoin </h2>
                    <p>{{ticker.LTCUSDT}}</p>
                    </span>
                    </span>

                    <span class="mainCoinsBox">
                        <img class='coinLogo' src="/Ethereum_Azul.png">
                        <span class="mainCoinsBoxInfo">
                    <h2> Ethereum </h2>
                    <p>{{ticker.ETHUSDT}}</p>
                    </span>
                    </span>

                    <span class="mainCoinsBox">
                        <img class='coinLogo' src="/Neo_Azul.png">
                        <span class="mainCoinsBoxInfo">
                    <h2> Neo </h2>
                    <p>{{ticker.NEOUSDT}}</p>
                    </span>
                    </span>

                    <span class="mainCoinsBox">
                        <img class='coinLogo' src="/Monero_Azul.png">
                        <span class="mainCoinsBoxInfo">
                    <h2> Monero </h2>
                    <p>{{ticker.XMRUSDT}}</p>
                    </span>
                    </span>

                    <span class="mainCoinsBox">
                        <img class='coinLogo' src="/Iota_Azul.png">
                        <span class="mainCoinsBoxInfo">
                    <h2> Iota </h2>
                    <p>{{ticker.IOTAUSDT}}</p>
                    </span>
                    </span>

                    <span class="mainCoinsBox">
                        <img class='coinLogo' src="/Dash_Azul.png">
                        <span class="mainCoinsBoxInfo">
                    <h2> Dash </h2>
                    <p>{{ticker.DASHUSDT}}</p>
                    </span>
                    </span>

                    <span class="mainCoinsBox">
                        <img class='coinLogo' src="/Cardano_Azul.png">
                        <span class="mainCoinsBoxInfo">
                    <h2> Cardano </h2>
                    <p>{{ticker.ADAUSDT}}</p>
                    </span>
                    </span>

                </div>
<button><a href="/welcome"> Home </a></button>
</main>
