<main>

    <h1>Results:</h1>

        <div>

            <div class = "coinPrices">
                    <h1>Getting latest price symbols expressed in USDT </h1>
                    <h2> Bitcoin </h2>
                    <p>{{ticker.BTCUSDT}}</p>
                    <h2> Ripple </h2>
                    <p>{{ticker.XRPUSDT}}</p>
                    <h2> Litecoin </h2>
                    <p>{{ticker.LTCUSDT}}</p>
                    <h2> Ethereum </h2>
                    <p>{{ticker.ETHUSDT}}</p>
                    <h2> Neo </h2>
                    <p>{{ticker.NEOUSDT}}</p>
                    <h2> Monero </h2>
                    <p>{{ticker.XMRUSDT}}</p>
                    <h2> Iota </h2>
                    <p>{{ticker.IOTAUSDT}}</p>
                    <h2> Dash </h2>
                    <p>{{ticker.DASHUSDT}}</p>
                    <h2> Cardamo </h2>
                    <p>{{ticker.ADAUSDT}}</p>

                </div>
<button><a href="/welcome"> Home </a></button>
</main>
